<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Hasil Voting BEM Universitas Tarumanagara</title>
  </head>
  <body>
    <div class="hasil-container">
      <h2>Hasil Voting BEM FTI Universitas Tarumanagara</h2>
      <div class="hasil-card">
        <div class="hasil-total">
          <h2>Total Suara: <span th:text="${totalVotes}">0</span></h2>
        </div>
        <div th:each="hasil : ${hasilVoting}" class="kandidat-result">
          <div>
            <h3 th:text="${hasil.namaKandidat}">Nama Kandidat</h3>
            <p>
              Jumlah Suara:
              <span th:text="${hasil.jumlahSuara}">0</span>
              (<span th:text="${hasil.persentase}">0</span>%)
            </p>
            <div class="progress-bar">
              <div
                class="progress"
                th:style="'width: ' + ${hasil.persentase} + '%'"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <a href="/voting-success" class="back-button"
        >Kembali ke Halaman Sebelumnya</a
      >
    </div>
  </body>
</html>
