<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container-log-sign">
      <div class="login-box">
        <h2>Welcome Back!</h2>
        <form
          th:action="@{/login/submit}"
          method="post"
          th:object="${loginInfo}">

          <div class="input-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              required
              placeholder="Enter Your Full Name"/>
          </div>

          <div class="input-group">
            <label for="nim">NIM</label>
            <input
              type="text"
              id="nim"
              name="nim"
              required
              placeholder="Enter Your NIM"
              oninput="validateNIM()"/>
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Enter Your Password"
            />
          </div>

          <button type="submit" class="login-btn" href="/kandidat">
            Log In
          </button>
        </form>
        <p th:text="${error}" class="error-message"></p>

        <div class="signup-prompt">
          <p>Belum Punya Akun?</p>
          <a href="/signup" class="signup-btn">Create Account</a>
        </div>
      </div>
    </div>
    
    <script th:src="@{/js/home.js}"></script>
  </body>
</html>
